/* # General
================================ */

body {
  font-family: "Open Sans", Helvetica, sans-serif;
  overflow: auto;
}

/* # Header, Main Menu
================================ */

.navbar {
  opacity: 1;
  margin-bottom: 0;
  background-color: #fff;
  transition: all 0.2s ease-out;
}

.navbar-container {
  position: relative;
}

.navbar .navbar-nav li a {
  font-size: 14px;
  text-transform: uppercase;
  color: #2E1C05;
  transition: all 0.2s ease-out;
}

.navbar-brand {
  font-size: 25px;
  transition: all 0.2s ease-out;
}

.navbar-header .navbar-brand:hover{
    color: rgba(188, 26, 4, 1);
}

.navbar-scroll {
  opacity: 1;
}

#top-social-menu {
  display: none;
}


@media (min-width: 768px) {
  .navbar {
    height: 120px;
  }

  .navbar-nav>li>a {
    padding: 0;
    margin-top: 35px;
    margin-left: 50px;
    line-height: 70px;
  }

  .navbar-brand {
    font-size: 28px;
    padding: 0;
    height: 120px;
    line-height: 120px;
  }

  #top-social-menu {
    display: initial;
  }

  /* Navbar when scrolled */

  .navbar-scroll {
    height: 70px;
  }

  .navbar-scroll #top-social-menu {
    display: none;
    transition: all 0.2s ease-out;
  }

  .navbar-scroll .navbar-brand {
    height: 70px;
    line-height: 70px;
  }

  .navbar-scroll .navbar-nav>li>a {
    opacity: 1;
    padding: 0;
    margin-top: 0;
  }
}

/* # Hover Link Effect
================================ */
@media (min-width: 768px) {
  .navbar-nav>li>a::after {
    position: absolute;
    top: 80%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #2E1C05;
    content: '';
    opacity: 0;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    transform: translateY(-10px);
  }

  .navbar-nav>li>a:hover::after,
  .navbar-nav>li>a:focus::after {
    height: 2px;
    opacity: 0;
    transform: translateY(0px);
  }
}

/* # Social menu
================================ */

#top-social-menu {
  position: absolute;
  top: 7px;
  right: 0;
  font-size: 12px;
  z-index: 101;
  padding-right: 0px;
  list-style: none;
  color: #2E1C05;
  transition: all 0.2s ease-out;
}

#top-social-menu li {
  float: left;
  padding: 10px 15px;
}

#top-social-menu li:last-child {
  padding-right: 0;
}

#top-social-menu li a {
  text-decoration: none;
  color: #2E1C05;
}

#top-social-menu li a:hover {
  text-decoration: none;
  color: rgba(188, 26, 4, 1);
}

#top-social-menu i {
  font-size: 16px;
  transition: all 0.2s ease-in;
}

#top-social-menu i:hover {
  text-decoration: none;
  color: rgba(188, 26, 4, 1);
}


/* ================ Custom Footer ================ */

.galleryspace{
  width: 100%;
  height: 100%;
  padding-top: 110px;
  padding-bottom: 800px;
  padding-left: 20px;
}

.my-gallery {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.my-gallery img {
  width: 100%;
  height: auto;  
  height: 250px; 
  width: 300px;
  object-fit: cover;
}
.my-gallery figure {
  text-align: center;
  display: block;
  float: left;
  margin: 0 180px 18px 0;
  width: 150px;
}

.my-gallery img:hover{
  box-shadow: 12px 12px 45px #888888;
}

.my-gallery figcaption {
  display: none;
}

.galleryspace{
  height: 100%;
}


/* ================ Custom Footer ================ */
.footer{
  padding: 80px 0 50px;
  background-color: #2A3A3F;
  text-align: center;
}

.made-by-me a{
  margin: 24px 0;
  color: rgba(255, 255, 255, 0.4);
  font-size: 1.3rem;
  line-height: 1.8;
  display: inline-block;
  text-decoration: none;
}

.made-by-me a:hover{
  color: rgba(188, 26, 4, 1);
}

.social-links a{
  display: inline-block;
  text-decoration: none;
  margin: 0 4px;
  height: 80px;
  width: 80px;
  font-size: 3.6rem;
  line-height: 2.3;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.social-links a:hover{
  color: rgba(188, 26, 4, 1);
  border-bottom: none;
}

.tilefooter{
  color: white;
  font-size: 32px;
  letter-spacing: 0.55rem;
}

.tileguyline{
  margin-top: 0px;
  margin-bottom: -15px;
  border-bottom-width: 4px;
  width: 15%;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 1px solid #ededed;
}

@media screen and (max-width: 361px) {
  .social-links a{
    height: 78px;
    width: 78px;
  }
}

@media screen and (max-width: 321px) {
  .social-links a{
    height: 73px;
    width: 69px;
  }
}